{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- pages-title-start -->
    <div class="pages-title section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pages-title-text text-center">
                        <h2>Login</h2>
                        <ul class="text-left">
                            <li><a href="../../core/templates/index.html">Home </a></li>
                            <li><span> // </span>Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pages-title-end -->
    <!-- login content section start -->
    <section class="pages login-page section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="main-input padding60">
                        <div class="log-title">
                            <h3><strong>registered customers</strong></h3>
                        </div>
                        <div class="login-text">
                            <div class="custom-input">
                                <p>If you have an account with us, Please log in!</p>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ login_form }}
                                    <a class="forget" href="{% url 'password_reset' %}">Forget your password?</a>
                                    <div class="submit-text">
                                        <button id="loginButton">login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </section>

    <!-- login content section end -->
{% endblock %}