{% extends 'base.html' %}
{% load static %}

{% block body %}
        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>My Account</h2>
							<ul class="text-left">
								<li><a href="../../core/templates/index.html">Home </a></li>
								<li><span> // </span>My Account</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
		<!-- My account content section start -->
		<section class="pages my-account-page section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="padding60">
							<div class="log-title">
								<h3><strong>My Account</strong></h3>
							</div>
							<div class="prament-area main-input">
								<ul class="panel-group" id="accordion">
									<li class="panel">
										<div class="account-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
											<label>
												<input type="radio" checked value="forever" name="rememberme"/>
												add my frist address
											</label>
										</div>
										<div id="collapse1" class="panel-collapse collapse in">
											<div class="single-log-info">
												<div class="bulling-title">
													<h5>Billing Address</h5>
													<p>To add a new address, please fill out the form below.</p>
												</div>
												<div class="custom-input">
													<form action="mail.php" method="post">
														<div class="row">
															<div class="col-md-6">
																<input type="text" name="name" placeholder="First Name" />
															</div>
															<div class="col-md-6">
																<input type="text" name="name" placeholder="Last Name" />
															</div>
														</div>
														<input type="text" name="email" placeholder="Email Address" />
														<div class="custom-select">
															<select class="form-control">
																<option> Country</option>
																<option> Bangladesh </option>
																<option> United States </option>
																<option> United Kingdom </option>
																<option> Canada </option>
																<option> Malaysia </option>
																<option> United Arab Emirates </option>
															</select>
														</div>
														<input type="text" name="text" placeholder="Address" />
														<div class="custom-select">
															<select class="form-control">
																<option> Town / City</option>
																<option> Aberdeen </option>
																<option> Bedfordshire </option>
																<option> Caerphilly </option>
																<option> Denbighshire </option>
																<option> East Ayrshire </option>
																<option> Falkirk </option>
															</select>
														</div>
														<p class="red-color">** You must register at least one phone number.</p>
														<input type="text" name="text" placeholder="Mobile Phone" />
														<div class="custom-mess">
															<textarea rows="2" placeholder="Additional information" name="message"></textarea>
														</div>
														<label>Please assign an address title for future reference.<sup>*</sup></label>
														<div class="input-text">
															<input type="text" name="refrence" value="" />
														</div>
														<div class="submit-text">
															<a href="#">Save</a>
														</div>
													</form>
												</div>
											</div>
										</div>
									</li>
									<li class="panel panelimg">
										<div class="account-title"  data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
											<label>
												<input type="radio" value="forever" name="rememberme"/>
												My credit slips
											</label>
										</div>
										<div id="collapse2" class="paypal-dsc panel-collapse collapse">
											<div class="prayment-dsc">
												<div class="bulling-title">
													<h5>Order history</h5>
												</div>
												<p>Here are the orders you've placed since your account was created.</p>
												<span>You have not placed any orders.</span>
											</div>
										</div>
									</li>
									<li class="panel panelimg">
										<div class="account-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
											<label>
												<input type="radio" value="forever" name="rememberme"/>
												my address
											</label>
										</div>
										<div id="collapse3" class="paypal-dsc panel-collapse collapse">
											<div class="prayment-dsc">
												<div class="bulling-title">
													<h5>Order history</h5>
												</div>
												<p>Here are the orders you've placed since your account was created.</p>
												<span>You have not placed any orders.</span>
											</div>
										</div>
									</li>
									<li class="panel">
										<div class="account-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
											<label>
												<input type="radio" value="forever" name="rememberme"/>
												My personal information
											</label>
										</div>
										<div id="collapse4" class="panel-collapse collapse">
											<div class="single-log-info">
												<div class="bulling-title">
													<h5>Your personal information</h5>
													<p>Please be sure to update your personal information if it has changed</p>
												</div>
												<div class="mr-mrs">
													<label class="social-label">
														<sup>*</sup> Social title
													</label>
													<label>
														<input type="radio" value="forever" name="rememberme"/>
														Mr.
													</label>
													<label>
														<input type="radio" value="forever" name="rememberme"/>
														Msr.
													</label>
												</div>
												<div class="custom-input">
													<form action="mail.php" method="post">
														<input type="text" name="name" placeholder="Your Full Name" />
														<input type="text" name="email" placeholder="Email Address" />
														<div class="row">
															<div class="col-xs-12">
															<label>Date of Birth</label>
																<div class="row">
																	<div class="col-sm-4">
																		<div class="custom-select">
																			<select class="form-control">
																				<option>1</option>
																				<option>2</option>
																				<option>3</option>
																				<option>4</option>
																				<option>5</option>
																				<option>6</option>
																				<option>7</option>
																				<option>8</option>
																				<option>9</option>
																				<option>10</option>
																				<option>11</option>
																				<option>12</option>
																				<option>13</option>
																				<option>14</option>
																				<option>15</option>
																				<option>16</option>
																				<option>17</option>
																				<option>18</option>
																				<option>19</option>
																				<option>20</option>
																				<option>21</option>
																				<option>22</option>
																				<option>23</option>
																				<option>24</option>
																				<option>25</option>
																				<option>26</option>
																				<option>27</option>
																				<option>28</option>
																				<option>29</option>
																				<option>30</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="custom-select">
																			<select class="form-control">
																				<option>January</option>
																				<option>February </option>
																				<option>March </option>
																				<option>April </option>
																				<option>May </option>
																				<option>June </option>
																				<option>July </option>
																				<option>August </option>
																				<option>September </option>
																				<option>October </option>
																				<option>November </option>
																				<option>December </option>
																			</select>
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="custom-select">
																			<select class="form-control">
																				<option>1990</option>
																				<option>1991</option>
																				<option>1992</option>
																				<option>1993</option>
																				<option>1994</option>
																				<option>1995</option>
																				<option>1996</option>
																				<option>1997</option>
																				<option>1998</option>
																				<option>1999</option>
																				<option>2000</option>
																				<option>2001</option>
																				<option>2002</option>
																				<option>2003</option>
																				<option>2004</option>
																				<option>2005</option>
																				<option>2006</option>
																				<option>2007</option>
																				<option>2008</option>
																				<option>2009</option>
																				<option>2010</option>
																				<option>2011</option>
																				<option>2012</option>
																				<option>2013</option>
																				<option>2014</option>
																				<option>2016</option>
																				<option>2016</option>
																				<option>2017</option>
																				<option>2018</option>
																				<option>2019</option>
																				<option>2020</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<input type="password" placeholder="Current Password" name="password" value="" />
														<input type="password" placeholder="New Password" name="password" value="" />
														<input type="password" placeholder="Confirmation" name="password" value="" />
														<div class="row">
															<div class="col-xs-12">
																<div class="sing-checkbox">
																	<label>
																		<input type="checkbox" name="rememberme"/>
																		Sign up for our newsletter! 
																	</label>
																	<label>
																		<input type="checkbox" name="rememberme"/>
																		Receive special offers from our partners! 
																	</label>
																</div>
															</div>
														</div>
														<div class="submit-text text-left">
															<button type="submit" value="submit form">Save</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="my-right-side">
							<a href="../../../order/templates/wishlist.html">My wishlists</a>
							<a href="../../../order/templates/cart.html">Order history and details</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- my account content section end -->
{% endblock %}