{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    <!-- slider-section-start -->
    <div class="main-slider-one main-slider-two slider-area">
        <div id="wrapper">
            <div class="slider-wrapper">
                <div id="mainSlider" class="nivoSlider">
                    <img src="{% static '/img/slider/home2/slider1.jpg' %}" alt="main slider" title="#htmlcaption"/>
                    <img src="{% static '/img/slider/home2/slider2.jpeg' %}" alt="main slider" title="#htmlcaption2"/>
                </div>
                <div id="htmlcaption" class="nivo-html-caption slider-caption">
                    <div class="container">
                        <div class="slider-left slider-right">
                            <div class="slide-text animated zoomInUp">
                                <h3>new collection</h3>
                                <h1>Men’s Fashion 2016</h1>
                            </div>
                            <div class="animated slider-btn fadeInUpBig">
                                <a class="shop-btn" href="{% url 'products' %}">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="htmlcaption2" class="nivo-html-caption slider-caption">
                    <div class="container">
                        <div class="slider-left two-caption-text slider-right">
                            <div class="slide-text animated zoomInUp">
                                <h3>new collection</h3>
                                <h1>Men’s Fashion 2016</h1>
                                <span>Starting at $65.00. Don’t miss out!</span>
                            </div>
                            <div class="one-p animated bounceInLeft">
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                    interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum".</p>
                            </div>
                            <div class="animated slider-btn fadeInUpBig">
                                <a class="shop-btn" href="shop.html">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider section end -->
    <!-- collection section start -->
    <section class="collection-area collection-area2 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-colect banner collect-one">
                        <a href="#"><img height="430" width="320" src="/static/img/{{ first.image }}" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="colect-text ">
                        <h4><a href="#">Fashion Collection 2016</a></h4>
                        <h5>big sale of the men 2016 fashion <br/> Up To 23% Off!</h5>
                        <a href="products/{{ first.id }}">Shop Now <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                    <div class="collect-img banner margin single-colect">
                        <a href="#"><img height="370" width="280" src="/static/img/{{ second.image }}" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="collect-img banner single-colect">
                        <a href="#"><img height="340" width="280" src="/static/img/{{ third.image }}" alt=""/></a>
                    </div>
                    <div class="colect-text ">
                        <h4><a href="#">Men’s Collection 2016</a></h4>
                        <p>There are many variations of passages of Lorem Ipsum avalabbut the majority have suffered
                            alteration in some form.</p>
                        <a href="products/{{ third.id }}">Shop Now <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- collection section end -->
    <!-- featured-products section start -->
    <section class="single-products  products-two section-padding extra-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <h2>Featured Products</h2>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                        <div class="row text-center" id="featured-products">
                            {% for featured_product in featured_products1 %}
                                <div class="col-xs-12 col-sm-6 col-md-3 product-box">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <div class="pro-type">
                                                <span>{{ featured_product.status }}</span>
                                            </div>
                                            <a href="#"><img height="330px"
                                                             src="static/img/{{ featured_product.image }}"
                                                             alt="{{ featured_product.title }}"/></a>
                                            <div class="actions-btn">
                                                <a href="#"><i class="mdi mdi-cart"></i></a>
                                                <a href="#" data-toggle="modal" data-target="#quick-view"><i
                                                        class="mdi mdi-eye"></i></a>
                                                <a href="#"><i class="mdi mdi-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-dsc">
                                            <p><a href="#">{{ featured_product.title }}</a></p>
                                            <span>${{ featured_product.price }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- single product end -->
                        </div>
{#            id="load-more-one"#}
{#                <button style="margin-top: 40px" id="loadMore" data-limit="3" data-total="{{ total_data }}" >Load More</button>#}
            </div>
        </div>
    </section>
    <!-- featured-products section end -->
    <!-- coming product section start -->
    <section class="coming-product coming-product2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="tab-menu nav nav-tabs padding">
                        <ul>
                            <li class="active"><a href="products/{{ soon.product.id }}" data-toggle="tab"
                                                  data-target="#dress1, #text1"><img
                                    src="static/img/{{ soon.product.image }}"
                                    alt=""/></a></li>
                            <li><a href="products/{{ soon.product.id }}" data-toggle="tab" data-target="#dress2,#text2"><img
                                    src="static/img/{{ soon.side_image }}" alt=""/></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7 col-md-5">
                    <div class="text-center large-img tab-content">
                        <div class="tab-pane fade in active" id="dress1">
                            <img height="500" width="440" src="static/img/{{ soon.product.image }}" alt=""/>
                            <div class="count-text clearfix">
                                <ul id="countdown-1">
                                    <li>
                                        <p class="timeRefDays timedescription">days</p>
                                        <span class="days timenumbers">00</span>
                                    </li>
                                    <li>
                                        <p class="timeRefHours timedescription">hrs</p>
                                        <span class="hours timenumbers">00</span>
                                    </li>
                                    <li>
                                        <p class="timeRefMinutes timedescription">mins</p>
                                        <span class="minutes timenumbers">00</span>
                                    </li>
                                    <li>
                                        <p class="timeRefSeconds timedescription">secs</p>
                                        <span class="seconds timenumbers">00</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="dress2">
                            <img height="500" width="440" src="static/img/{{ soon.side_image }}" alt=""/>
                            <div class="count-text clearfix">
                                <ul id="countdown-2">
                                    <li>
                                        <p class="timeRefDays timedescription">days</p>
                                        <span class="days timenumbers">00</span>
                                    </li>
                                    <li>
                                        <p class="timeRefHours timedescription">hrs</p>
                                        <span class="hours timenumbers">00</span>
                                    </li>
                                    <li>
                                        <p class="timeRefMinutes timedescription">mins</p>
                                        <span class="minutes timenumbers">00</span>
                                    </li>
                                    <li>
                                        <p class="timeRefSeconds timedescription">secs</p>
                                        <span class="seconds timenumbers">00</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="padding">
                        <div class="tab-content">
                            <div class="soon-coming single-coming tab-pane fade in active" id="text1">
                                <h4><a href="#">{{ soon.product.title }}</a></h4>
                                <span><strong>${{ soon.product.price }}</strong>   <del>${{ soon.product.last_price }}</del></span>
                                <p class="come-p">{{ soon.product.desc }}</p>
                                <ul class="color-size">
                                    <li><span>Size</span><strong>:</strong> {% for s in soon.product.size.all %}
                                        {{ s }} {% endfor %}</li>
                                    <li><span>color</span><strong>:</strong> {% for c in soon.product.color.all %}
                                        {{ c }} {% endfor %}</li>
                                    <li><span>Brand</span><strong>:</strong> {% for b in soon.product.brand.all %}
                                        {{ b }} {% endfor %}</li>
                                    <li><span>category</span><strong>:</strong>
                                        {% for cat in soon.product.category.all %}
                                            {{ cat }} {% endfor %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- coming product section end -->
    <!-- tab-products section start -->
    <div class="tab-products single-products products-two section-padding extra-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <div class="product-tab nav nav-tabs">
                            <ul>
                                <li class="active"><a data-toggle="tab" href="#arrival">New Arrival <span>//</span></a>
                                </li>
                                <li><a data-toggle="tab" href="#popular">Popular Product <span>//</span></a></li>
                                <li><a data-toggle="tab" href="#best">Best Seller</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center tab-content">
                <div class="tab-pane  fade in active" id="arrival">
                    <div class="wrapper">
                        <ul class="load-list load-list-two">
                            <li>
                                <div class="row text-center">

                                    {% for product in new_products %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <div class="pro-type">
                                                        <span>{{ product.status }}</span>
                                                    </div>
                                                    <a href="{% url 'single-product' product.id %}"><img height="300"
                                                                                                         width="260"
                                                                                                         src="static/img/{{ product.image }}"
                                                                                                         alt="Product Title"/></a>
                                                    <div class="actions-btn">
                                                        <a href="#"><i class="mdi mdi-cart"></i></a>
                                                        <a href="#" data-toggle="modal" data-target="#quick-view"><i
                                                                class="mdi mdi-eye"></i></a>
                                                        <a href="#"><i class="mdi mdi-heart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-dsc">
                                                    <p><a href="#">{{ product.title }}</a></p>
                                                    <span>${{ product.price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- single product end -->
                                </div>
                            </li>
                        </ul>
{#                        <button style="margin-top: 20px" id="load-more-two">Load More</button>#}
                    </div>
                </div>
                <!-- arrival product end -->
                <div class="tab-pane fade" id="popular">
                    <div class="wrapper">
                        <ul class="load-list load-list-three">
                            <li>
                                <div class="row text-center">
                                    {% for product in popular_products %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="{% url 'single-product' product.id %}"><img height="300"
                                                                                                         width="260"
                                                                                                         src="static/img/{{ product.image }}"
                                                                                                         alt="Product Title"/></a>
                                                    <div class="actions-btn">
                                                        <a href="#"><i class="mdi mdi-cart"></i></a>
                                                        <a href="#" data-toggle="modal" data-target="#quick-view"><i
                                                                class="mdi mdi-eye"></i></a>
                                                        <a href="#"><i class="mdi mdi-heart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-dsc">
                                                    <p><a href="#">{{ product.title }}</a></p>
                                                    <span>${{ product.price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- single product end -->
                                </div>
                            </li>
                        </ul>
{#                        <button style="margin-top: 20px" id="load-more-three">Load More</button>#}
                    </div>
                </div>
                <!-- popular product end -->
                <div class="tab-pane fade" id="best">
                    <div class="wrapper">
                        <ul class="load-list load-list-four">
                            <li>
                                <div class="row text-center">
                                    {% for product in best_seller_products %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <div class="pro-type">
                                                        <span>{{ product.status }}</span>
                                                    </div>
                                                    <a href="{% url 'single-product' product.id %}"><img height="300"
                                                                                                         width="260"
                                                                                                         src="static/img/{{ product.image }}"
                                                                                                         alt="Product Title"/></a>
                                                    <div class="actions-btn">
                                                        <a href="#"><i class="mdi mdi-cart"></i></a>
                                                        <a href="#" data-toggle="modal" data-target="#quick-view"><i
                                                                class="mdi mdi-eye"></i></a>
                                                        <a href="#"><i class="mdi mdi-heart"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-dsc">
                                                    <p><a href="#">{{ product.title }}</a></p>
                                                    <span>${{ product.price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- single product end -->
                                </div>
                            </li>

                        </ul>
{#                        <button style="margin-top: 20px" id="load-more-four">Load More</button>#}
                    </div>
                </div>
                <!-- popular product end -->
            </div>
        </div>
    </div>
    <!-- tab-products section end -->
    <!-- blog section start -->
{#    <section class="latest-blog section-padding">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-xs-12">#}
{#                    <div class="section-title text-center">#}
{#                        <h2>Latest Blog</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="wrapper">#}
{#                <ul class="load-list load-list-blog">#}
{#                    <li>#}
{#                        <div class="row">#}
{#                            <div class="col-sm-4">#}
{#                                <div class="l-blog-text">#}
{#                                    <div class="banner"><a href="../../blog/templates/single-blog.html"><img#}
{#                                            src="{% static '/img/blog/1.jpg' %}" alt=""/></a></div>#}
{#                                    <div class="s-blog-text">#}
{#                                        <h4><a href="../../blog/templates/single-blog.html">Fashion style fine arts#}
{#                                            drawing</a></h4>#}
{#                                        <span>By : <a href="#">Rakib</a> | <a href="#">210 Like</a> | <a href="#">69 Comments</a></span>#}
{#                                        <p>There are many variations of passages of Lorem Ipsum available, but the#}
{#                                            majority have suffered alteration in some form, by injected humour....</p>#}
{#                                    </div>#}
{#                                    <div class="date-read clearfix">#}
{#                                        <a href="#"><i class="mdi mdi-clock"></i> jun 25, 2016</a>#}
{#                                        <a href="../../blog/templates/single-blog.html">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-4">#}
{#                                <div class="l-blog-text">#}
{#                                    <div class="banner"><a href="../../blog/templates/single-blog.html"><img#}
{#                                            src="{% static '/img/blog/2.jpg' %}" alt=""/></a></div>#}
{#                                    <div class="s-blog-text">#}
{#                                        <h4><a href="../../blog/templates/single-blog.html">women’s Fashion style#}
{#                                            2016</a></h4>#}
{#                                        <span>By : <a href="#">Rakib</a> | <a href="#">210 Like</a> | <a href="#">69 Comments</a></span>#}
{#                                        <p>There are many variations of passages of Lorem Ipsum available, but the#}
{#                                            majority have suffered alteration in some form, by injected humour....</p>#}
{#                                    </div>#}
{#                                    <div class="date-read clearfix">#}
{#                                        <a href="#"><i class="mdi mdi-clock"></i> jun 15, 2016</a>#}
{#                                        <a href="../../blog/templates/single-blog.html">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-4">#}
{#                                <div class="l-blog-text">#}
{#                                    <div class="banner"><a href="../../blog/templates/single-blog.html"><img#}
{#                                            src="{% static '/img/blog/3.jpg' %}" alt=""/></a></div>#}
{#                                    <div class="s-blog-text">#}
{#                                        <h4><a href="../../blog/templates/single-blog.html">women’s winter Fashion#}
{#                                            style</a></h4>#}
{#                                        <span>By : <a href="#">Rakib</a> | <a href="#">210 Like</a> | <a href="#">69 Comments</a></span>#}
{#                                        <p>There are many variations of passages of Lorem Ipsum available, but the#}
{#                                            majority have suffered alteration in some form, by injected humour....</p>#}
{#                                    </div>#}
{#                                    <div class="date-read clearfix">#}
{#                                        <a href="#"><i class="mdi mdi-clock"></i> jun 22, 2016</a>#}
{#                                        <a href="../../blog/templates/single-blog.html">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li>#}
{#                        <div class="row">#}
{#                            <div class="col-sm-4">#}
{#                                <div class="l-blog-text">#}
{#                                    <div class="banner"><a href="../../blog/templates/single-blog.html"><img#}
{#                                            src="{% static '/img/blog/4.jpg' %}" alt=""/></a></div>#}
{#                                    <div class="s-blog-text">#}
{#                                        <h4><a href="../../blog/templates/single-blog.html">women’s winter Fashion#}
{#                                            style</a></h4>#}
{#                                        <span>By : <a href="#">Rakib</a> | <a href="#">210 Like</a> | <a href="#">69 Comments</a></span>#}
{#                                        <p>There are many variations of passages of Lorem Ipsum available, but the#}
{#                                            majority have suffered alteration in some form, by injected humour....</p>#}
{#                                    </div>#}
{#                                    <div class="date-read clearfix">#}
{#                                        <a href="#"><i class="mdi mdi-clock"></i> jun 22, 2016</a>#}
{#                                        <a href="../../blog/templates/single-blog.html">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-4">#}
{#                                <div class="l-blog-text">#}
{#                                    <div class="banner"><a href="../../blog/templates/single-blog.html"><img#}
{#                                            src="{% static '/img/blog/5.jpg' %}" alt=""/></a></div>#}
{#                                    <div class="s-blog-text">#}
{#                                        <h4><a href="../../blog/templates/single-blog.html">Fashion style fine arts#}
{#                                            drawing</a></h4>#}
{#                                        <span>By : <a href="#">Rakib</a> | <a href="#">210 Like</a> | <a href="#">69 Comments</a></span>#}
{#                                        <p>There are many variations of passages of Lorem Ipsum available, but the#}
{#                                            majority have suffered alteration in some form, by injected humour....</p>#}
{#                                    </div>#}
{#                                    <div class="date-read clearfix">#}
{#                                        <a href="#"><i class="mdi mdi-clock"></i> jun 25, 2016</a>#}
{#                                        <a href="../../blog/templates/single-blog.html">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-4">#}
{#                                <div class="l-blog-text">#}
{#                                    <div class="banner"><a href="../../blog/templates/single-blog.html"><img#}
{#                                            src="{% static '/img/blog/6.jpg' %}" alt=""/></a></div>#}
{#                                    <div class="s-blog-text">#}
{#                                        <h4><a href="../../blog/templates/single-blog.html">women’s Fashion style#}
{#                                            2016</a></h4>#}
{#                                        <span>By : <a href="#">Rakib</a> | <a href="#">210 Like</a> | <a href="#">69 Comments</a></span>#}
{#                                        <p>There are many variations of passages of Lorem Ipsum available, but the#}
{#                                            majority have suffered alteration in some form, by injected humour....</p>#}
{#                                    </div>#}
{#                                    <div class="date-read clearfix">#}
{#                                        <a href="#"><i class="mdi mdi-clock"></i> jun 15, 2016</a>#}
{#                                        <a href="../../blog/templates/single-blog.html">read more</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                </ul>#}
{#                <button id="load-more-blog">Load More</button>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- blog section end -->
    <!-- quick view start -->
    <div class="product-details quick-view modal animated zoomInUp" id="quick-view">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="d-table">
                        <div class="d-tablecell">
                            <div class="modal-dialog">
                                <div class="main-view modal-content">
                                    <div class="modal-footer" data-dismiss="modal">
                                        <span>x</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5 col-md-4">
                                            <div class="quick-image">
                                                <div class="single-quick-image text-center">
                                                    <div class="list-img">
                                                        <div class="product-img tab-content">
                                                            <div class="simpleLens-container tab-pane fade in"
                                                                 id="sin-1">
                                                                <div class="pro-type">
                                                                    <span>new</span>
                                                                </div>
                                                                <a class="simpleLens-image"
                                                                   data-lens-image="img/products/z1.jpg" href="#"><img
                                                                        src="{% static '/img/products/z1.jpg' %}" alt=""
                                                                        class="simpleLens-big-image"></a>
                                                            </div>
                                                            <div class="simpleLens-container tab-pane active fade in"
                                                                 id="sin-2">
                                                                <div class="pro-type sell">
                                                                    <span>sell</span>
                                                                </div>
                                                                <a class="simpleLens-image"
                                                                   data-lens-image="img/products/z2.jpg" href="#"><img
                                                                        src="{% static '/img/products/z2.jpg' %}" alt=""
                                                                        class="simpleLens-big-image"></a>
                                                            </div>
                                                            <div class="simpleLens-container tab-pane fade in"
                                                                 id="sin-3">
                                                                <div class="pro-type">
                                                                    <span>-15%</span>
                                                                </div>
                                                                <a class="simpleLens-image"
                                                                   data-lens-image="img/products/z3.jpg" href="#"><img
                                                                        src="{% static '/img/products/z3.jpg' %}" alt=""
                                                                        class="simpleLens-big-image"></a>
                                                            </div>
                                                            <div class="simpleLens-container tab-pane fade in"
                                                                 id="sin-4">
                                                                <div class="pro-type">
                                                                    <span>new</span>
                                                                </div>
                                                                <a class="simpleLens-image"
                                                                   data-lens-image="img/products/z4.jpg" href="#"><img
                                                                        src="{% static '/img/products/z4.jpg' %}" alt=""
                                                                        class="simpleLens-big-image"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="quick-thumb">
                                                    <ul class="product-slider">
                                                        <li><a data-toggle="tab" href="#sin-1"> <img
                                                                src="{% static '/img/products/s1.jpg' %}"
                                                                alt="quick view"/> </a></li>
                                                        <li class="active"><a data-toggle="tab" href="#sin-2"> <img
                                                                src="{% static '/img/products/s2.jpg' %}"
                                                                alt="small image"/> </a></li>
                                                        <li><a data-toggle="tab" href="#sin-3"> <img
                                                                src="{% static '/img/products/s3.jpg' %}"
                                                                alt="small image"/> </a></li>
                                                        <li><a data-toggle="tab" href="#sin-4"> <img
                                                                src="{% static '/img/products/s4.jpg' %}"
                                                                alt="small image"/> </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-md-8">
                                            <div class="quick-right">
                                                <div class="list-text">
                                                    <h3>men’s White t-shirt</h3>
                                                    <span>Summer men’s fashion</span>
                                                    <div class="ratting floatright">
                                                        <p>( 27 Rating )</p>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star"></i>
                                                        <i class="mdi mdi-star-half"></i>
                                                        <i class="mdi mdi-star-outline"></i>
                                                    </div>
                                                    <h5>
                                                        <del>$79.30</del>
                                                        $69.30
                                                    </h5>
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have be suffered alteration in some form, by
                                                        injected humour, or randomised words which donot look even
                                                        slightly believable. If you are going to use a passage of Lorem
                                                        Ipsum, you neede be sure there isn't anything embarrassing
                                                        hidden in the middle of text. Lorem Ipsum is simply dummy text
                                                        of the printing and typesetting industry.</p>
                                                    <div class="all-choose">
                                                        <div class="s-shoose">
                                                            <h5>Color</h5>
                                                            <div class="color-select clearfix">
                                                                <span></span>
                                                                <span class="outline"></span>
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <div class="s-shoose">
                                                            <h5>size</h5>
                                                            <div class="size-drop">
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn">XL</button>
                                                                    <button type="button" class="btn dropdown-toggle"
                                                                            data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                        <span class=""><i
                                                                                class="mdi mdi-chevron-down"></i></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="#">Xl</a></li>
                                                                        <li><a href="#">SL</a></li>
                                                                        <li><a href="#">S</a></li>
                                                                        <li><a href="#">L</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="s-shoose">
                                                            <h5>qty</h5>
                                                            <form action="#" method="POST">
                                                                <div class="plus-minus">
                                                                    <a class="dec qtybutton">-</a>
                                                                    <input type="text" value="02" name="qtybutton"
                                                                           class="plus-minus-box">
                                                                    <a class="inc qtybutton">+</a>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="list-btn">
                                                        <a href="#">add to cart</a>
                                                        <a href="#">wishlist</a>
                                                        <a href="#">zoom</a>
                                                    </div>
                                                    <div class="share-tag clearfix">
                                                        <ul class="blog-share floatleft">
                                                            <li><h5>share </h5></li>
                                                            <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                                            <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                                            <li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
                                                            <li><a href="#"><i class="mdi mdi-vimeo"></i></a></li>
                                                            <li><a href="#"><i class="mdi mdi-dribbble"></i></a></li>
                                                            <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- quick view end -->
    <script src="../../static/js/loadMore.js"></script>
{% endblock %}