{% extends 'base.html' %}
{% load static %}

{% block title %} Products {% endblock %}

{% block body %}
    {#    <a type="button" data-code="tr" class="btn btn-light language">Turkish</a>#}
    {#    <a type="button" data-code="en" class="btn btn-dark language">English</a>#}
    <!-- pages-title-start -->
    <div class="pages-title section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pages-title-text text-center">
                        <h2>Product List View</h2>
                        <ul class="text-left">
                            <li><a href="/">Home </a></li>
                            <li><span> // </span><a href="{% url 'products' %}">Shop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pages-title-end -->
    <!-- collection section start -->
    <section class="collection-area collection-area2 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-colect banner collect-one">
                        <a href="#"><img height="430" width="320" src="/static/img/{{ first.image }}" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="colect-text ">
                        <h4><a href="#">Fashion Collection 2016</a></h4>
                        <h5>big sale of the men 2016 fashion <br/> Up To 23% Off!</h5>
                        <a href="products/{{ first.id }}">Shop Now <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                    <div class="collect-img banner margin single-colect">
                        <a href="#"><img height="370" width="280" src="/static/img/{{ second.image }}" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="collect-img banner single-colect">
                        <a href="#"><img height="340" width="280" src="/static/img/{{ third.image }}" alt=""/></a>
                    </div>
                    <div class="colect-text ">
                        <h4><a href="#">Men’s Collection 2016</a></h4>
                        <p>There are many variations of passages of Lorem Ipsum avalabbut the majority have suffered
                            alteration in some form.</p>
                        <a href="products/{{ third.id }}">Shop Now <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- collection section end -->
    <!-- product-list-view content section start -->
    <section class="pages products-page section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="sidebar left-sidebar">
                        <div class="s-side-text">
                            <div class="sidebar-title clearfix">
                                <h4 class="floatleft">Categories</h4>
                                <h5 class="floatright"><a href="{% url 'products' %}">All</a></h5>
                            </div>
                            <div class="categories left-right-p">
                                <ul id="accordion" class="panel-group clearfix">
                                    <li class="panel">
                                        <div class="panel-collapse collapse in" id="collapse1">
                                            <div class="normal-a">
                                                <a href="{% url 'products' %}">All products</a>
                                                {% for category in categories %}
                                                    <a href="/products/?categories={{ category.id }}">{{ category.name }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="s-side-text">
                            <div class="sidebar-title">
                                <h4>price</h4>
                            </div>
                            <div class="range-slider clearfix">

                                <div class="product-widget mb-30">
                                    <div class="price__slider mt-30">
                                        <input value="{{ min_price.price__min }}" type="range"
                                               class="multi-range success"
                                               style="color:red; margin-top: 20px;"
                                               value="{{ FilterPrice }}" min="{{ min_price.price__min }}"
                                               max="{{ max_price.price__max }}" id="rangeInput"
                                               oninput="maxPrice.value=this.value" width="400px;"/>
                                        <div style="margin-top: 20px">
                                            <form action="" class="s-form mt-20" method="get">
                                                <b>AZN</b><input value="{{ min_price.price__min }}"
                                                                 style="border: white;" type="number" id="maxPrice"
                                                                 readonly=""
                                                                 name="FilterPrice"
                                                                 onkeyup="rangeInput.value=this.value" value=
                                                    {{ FilterPrice }}{{ minMaxPrice.price__min }}>
                                                <button type="submit" id="priceFilterBtn"
                                                        class="btn btn-light tp-btn-square-lg">Filter
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {#                                    <label><span>You range</span>#}
                                {#                                        <input type="text" id="amount" readonly#}
                                {#                                               name="slider-value"/>#}
                                {#                                    </label>#}
                                {#                                    <div id="slider-range"></div>#}
                            </div>
                        </div>
                        <div class="s-side-text">
                            <div class="sidebar-title clearfix">
                                <h4 class="floatleft">size</h4>
                                <h5 class="floatright"><a href="{% url 'products' %}">All</a></h5>
                            </div>
                            <div class="size-select clearfix">
                                {% for size in sizes %}
                                    <a href="/products/?size={{ size.id }}">{{ size.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="s-side-text">
                            <div class="sidebar-title clearfix">
                                <h4 class="floatleft">color</h4>
                                <h5 class="floatright outline"><a href="{% url 'products' %}">All</a></h5>
                            </div>
                            <div class="color-select clearfix">
                                {% for color in colors %}
                                    <a href="/products/?color={{ color.id }}"><span
                                            style="background:{{ color.name }}; border:0.5px solid #ececec; margin-bottom: 4px"></span></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="s-side-text">
                            <div class="sidebar-title clearfix">
                                <h4 class="floatleft">brands</h4>
                                <h5 class="floatright"><a href="{% url 'products' %}">All</a></h5>
                            </div>
                            <div class="brands-select clearfix">
                                <ul>
                                    {% for brand in brands %}
                                        <li>
                                            <a href="/products/?brand={{ brand.id }}">{{ brand.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="s-side-text">
                            <div class="banner clearfix">
                                <a href="#"><img src="../../static/img/{{ best_brand.image }}" alt=""/></a>
                                <div class="banner-text">
                                    <h2>best</h2> <br/>
                                    <h2 class="banner-brand">brand</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="right-products">
                        <div class="row">
                            <div class="col-xs-12">
                                {#                                <div class="section-title clearfix">#}
                                {#                                    <ul>#}
                                {#                                        <li>#}
                                {#                                            <ul class="nav-view">#}
                                {#                                                <li><a data-toggle="tab" href="#grid"> <i#}
                                {#                                                        class="mdi mdi-view-module"></i> </a></li>#}
                                {#                                                <li class="active"><a data-toggle="tab" href="#list"> <i#}
                                {#                                                        class="mdi mdi-view-list"></i> </a></li>#}
                                {#                                            </ul>#}
                                {#                                        </li>#}
                                {#                                        <li class="sort-by floatright">#}
                                {#                                            Found {{ products_list.count }} Results#}
                                {#                                        </li>#}
                                {#                                    </ul>#}
                                {#                                </div>#}
                            </div>
                        </div>
                        <div class="row">
                            <div class="tab-content grid-content">
                                <div class="tab-pane fade in text-center" id="grid">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <div class="pro-type">
                                                    <span>new</span>
                                                </div>
                                                <a href="#"><img src="../../static/img/products/9.jpg"
                                                                 alt="Product Title"/></a>
                                                <div class="actions-btn">
                                                    <a href="#"><i class="mdi mdi-cart"></i></a>
                                                    <a href="#" data-toggle="modal" data-target="#quick-view"><i
                                                            class="mdi mdi-eye"></i></a>
                                                    <a href="#"><i class="mdi mdi-heart"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-dsc">
                                                <p><a href="#">men’s Black t-shirt</a></p>
                                                <div class="ratting">
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star-half"></i>
                                                    <i class="mdi mdi-star-outline"></i>
                                                </div>
                                                <span>$65.20</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single product end -->

                                </div>
                                <div>
                                    {{ filtered_products.form }}
                                </div>
                                <div class="tab-pane fade active in" id="list">
                                    <div class="col-xs-12">
                                        {% for product in products_list %}
                                            {% if product.status == 'SOON' %}

                                            {% else %}
                                                <div class="single-list-view">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="list-img">
                                                                <div class="product-img">
                                                                    <div class="pro-type sell">
                                                                        <span>{{ product.status }}</span>
                                                                    </div>
                                                                    <a href="{% url 'single-product' product.id %}"><img
                                                                            height="280px" width="260px"
                                                                            src="/static/img/{{ product.image }}"
                                                                            alt="Product Title"/></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="list-text">
                                                                <h3>{{ product.title }}</h3>
                                                                <span>Summer men’s fashion</span>
                                                                <div class="ratting floatright">
                                                                    <p>( {{ product.total_rating }} Rating )</p>
                                                                    <i class="mdi mdi-star"></i>
                                                                    <i class="mdi mdi-star"></i>
                                                                    <i class="mdi mdi-star"></i>
                                                                    <i class="mdi mdi-star-half"></i>
                                                                    <i class="mdi mdi-star-outline"></i>
                                                                </div>
                                                                <h5>
                                                                    <del>${{ product.last_price|floatformat:2 }}</del>
                                                                    ${{ product.price }}</h5>
                                                                <p>{{ product.desc }}</p>
                                                                <div class="list-btn">


                                                                    <a class="update-cart"
                                                                       data-product="{{ product.id }}"
                                                                       data-action="add">add to cart</a>
                                                                    <a href="#">wishlist</a>
{#                                                                    <a href="#" data-toggle="modal"#}
{#                                                                       data-target="#quick-view">zoom</a>#}


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <!-- single product end -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>


                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pagnation-ul">
                                    <ul class="clearfix">
                                        {% if products_list.has_previous %}
                                            <a href="?page=1"><i class="mdi mdi-menu-left"></i></a>
                                            <a href="?page={{ products_list.previous_page_number }}">Previous</a>
                                        {% endif %}
                                        Page {{ products_list.number }} of {{ products_list.paginator.num_pages }}

                                        {% if products_list.has_next %}
                                            <a href="?page={{ products_list.next_page_number }}">Next</a>
                                            <a href="?page={{ products_list.paginator.num_pages }}"><i
                                                    class="mdi mdi-menu-right"></i></a>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-list-view content section end -->
    <!-- quick view start -->
    {#    <div class="product-details quick-view modal animated zoomInUp" id="quick-view">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-xs-12">#}
    {#                    <div class="d-table">#}
    {#                        <div class="d-tablecell">#}
    {#                            <div class="modal-dialog">#}
    {#                                <div class="main-view modal-content">#}
    {#                                    <div class="modal-footer" data-dismiss="modal">#}
    {#                                        <span>x</span>#}
    {#                                    </div>#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-xs-12 col-sm-5 col-md-4">#}
    {#                                            <div class="quick-image">#}
    {#                                                <div class="single-quick-image text-center">#}
    {#                                                    <div class="list-img">#}
    {#                                                        <div class="product-img tab-content">#}
    {#                                                            <div class="simpleLens-container tab-pane fade in"#}
    {#                                                                 id="q-sin-1">#}
    {#                                                                <div class="pro-type">#}
    {#                                                                    <span>new</span>#}
    {#                                                                </div>#}
    {#                                                                <a class="simpleLens-image"#}
    {#                                                                   data-lens-image="img/products/z1.jpg" href="#"><img#}
    {#                                                                        src="../../static/img/products/z1.jpg" alt=""#}
    {#                                                                        class="simpleLens-big-image"></a>#}
    {#                                                            </div>#}
    {#                                                            <div class="simpleLens-container tab-pane active fade in"#}
    {#                                                                 id="q-sin-2">#}
    {#                                                                <div class="pro-type sell">#}
    {#                                                                    <span>sell</span>#}
    {#                                                                </div>#}
    {#                                                                <a class="simpleLens-image"#}
    {#                                                                   data-lens-image="img/products/z2.jpg" href="#"><img#}
    {#                                                                        src="../../static/img/products/z2.jpg" alt=""#}
    {#                                                                        class="simpleLens-big-image"></a>#}
    {#                                                            </div>#}
    {#                                                            <div class="simpleLens-container tab-pane fade in"#}
    {#                                                                 id="q-sin-3">#}
    {#                                                                <div class="pro-type">#}
    {#                                                                    <span>-15%</span>#}
    {#                                                                </div>#}
    {#                                                                <a class="simpleLens-image"#}
    {#                                                                   data-lens-image="img/products/z3.jpg" href="#"><img#}
    {#                                                                        src="../../static/img/products/z3.jpg" alt=""#}
    {#                                                                        class="simpleLens-big-image"></a>#}
    {#                                                            </div>#}
    {#                                                            <div class="simpleLens-container tab-pane fade in"#}
    {#                                                                 id="q-sin-4">#}
    {#                                                                <div class="pro-type">#}
    {#                                                                    <span>new</span>#}
    {#                                                                </div>#}
    {#                                                                <a class="simpleLens-image"#}
    {#                                                                   data-lens-image="img/products/z4.jpg" href="#"><img#}
    {#                                                                        src="../../static/img/products/z4.jpg" alt=""#}
    {#                                                                        class="simpleLens-big-image"></a>#}
    {#                                                            </div>#}
    {#                                                        </div>#}
    {#                                                    </div>#}
    {#                                                </div>#}
    {#                                                <div class="quick-thumb">#}
    {#                                                    <ul class="product-slider">#}
    {#                                                        <li><a data-toggle="tab" href="#q-sin-1"> <img#}
    {#                                                                src="../../static/img/products/s1.jpg"#}
    {#                                                                alt="quick view"/> </a></li>#}
    {#                                                        <li class="active"><a data-toggle="tab" href="#q-sin-2"> <img#}
    {#                                                                src="../../static/img/products/s2.jpg"#}
    {#                                                                alt="small image"/> </a></li>#}
    {#                                                        <li><a data-toggle="tab" href="#q-sin-3"> <img#}
    {#                                                                src="../../static/img/products/s3.jpg"#}
    {#                                                                alt="small image"/> </a></li>#}
    {#                                                        <li><a data-toggle="tab" href="#q-sin-4"> <img#}
    {#                                                                src="../../static/img/products/s4.jpg"#}
    {#                                                                alt="small image"/> </a></li>#}
    {#                                                    </ul>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                        <div class="col-xs-12 col-sm-7 col-md-8">#}
    {#                                            <div class="quick-right">#}
    {#                                                <div class="list-text">#}
    {#                                                    <h3>men’s White t-shirt</h3>#}
    {#                                                    <span>Summer men’s fashion</span>#}
    {#                                                    <div class="ratting floatright">#}
    {#                                                        <p>( 27 Rating )</p>#}
    {#                                                        <i class="mdi mdi-star"></i>#}
    {#                                                        <i class="mdi mdi-star"></i>#}
    {#                                                        <i class="mdi mdi-star"></i>#}
    {#                                                        <i class="mdi mdi-star-half"></i>#}
    {#                                                        <i class="mdi mdi-star-outline"></i>#}
    {#                                                    </div>#}
    {#                                                    <h5>#}
    {#                                                        <del>$79.30</del>#}
    {#                                                        $69.30#}
    {#                                                    </h5>#}
    {#                                                    <p>There are many variations of passages of Lorem Ipsum available,#}
    {#                                                        but the majority have be suffered alteration in some form, by#}
    {#                                                        injected humour, or randomised words which donot look even#}
    {#                                                        slightly believable. If you are going to use a passage of Lorem#}
    {#                                                        Ipsum, you neede be sure there isn't anything embarrassing#}
    {#                                                        hidden in the middle of text. Lorem Ipsum is simply dummy text#}
    {#                                                        of the printing and typesetting industry.</p>#}
    {#                                                    <div class="all-choose">#}
    {#                                                        <div class="s-shoose">#}
    {#                                                            <h5>Color</h5>#}
    {#                                                            <div class="color-select clearfix">#}
    {#                                                                <span></span>#}
    {#                                                                <span class="outline"></span>#}
    {#                                                                <span></span>#}
    {#                                                                <span></span>#}
    {#                                                            </div>#}
    {#                                                        </div>#}
    {#                                                        <div class="s-shoose">#}
    {#                                                            <h5>size</h5>#}
    {#                                                            <div class="size-drop">#}
    {#                                                                <div class="btn-group">#}
    {#                                                                    <button type="button" class="btn">XL</button>#}
    {#                                                                    <button type="button" class="btn dropdown-toggle"#}
    {#                                                                            data-toggle="dropdown" aria-haspopup="true"#}
    {#                                                                            aria-expanded="false">#}
    {#                                                                        <span class=""><i#}
    {#                                                                                class="mdi mdi-chevron-down"></i></span>#}
    {#                                                                    </button>#}
    {#                                                                    <ul class="dropdown-menu">#}
    {#                                                                        <li><a href="#">Xl</a></li>#}
    {#                                                                        <li><a href="#">SL</a></li>#}
    {#                                                                        <li><a href="#">S</a></li>#}
    {#                                                                        <li><a href="#">L</a></li>#}
    {#                                                                    </ul>#}
    {#                                                                </div>#}
    {#                                                            </div>#}
    {#                                                        </div>#}
    {#                                                        <div class="s-shoose">#}
    {#                                                            <h5>qty</h5>#}
    {#                                                            <form action="#" method="POST">#}
    {#                                                                <div class="plus-minus">#}
    {#                                                                    <a class="dec qtybutton">-</a>#}
    {#                                                                    <input type="text" value="02" name="qtybutton"#}
    {#                                                                           class="plus-minus-box">#}
    {#                                                                    <a class="inc qtybutton">+</a>#}
    {#                                                                </div>#}
    {#                                                            </form>#}
    {#                                                        </div>#}
    {#                                                    </div>#}
    {#                                                    <div class="list-btn">#}
    {#                                                        <a href="#">add to cart</a>#}
    {#                                                        <a href="#">wishlist</a>#}
    {#                                                        <a href="#" data-toggle="modal"#}
    {#                                                           data-target="#quick-view">zoom</a>#}
    {#                                                    </div>#}
    {#                                                    <div class="share-tag clearfix">#}
    {#                                                        <ul class="blog-share floatleft">#}
    {#                                                            <li><h5>share </h5></li>#}
    {#                                                            <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>#}
    {#                                                            <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>#}
    {#                                                            <li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>#}
    {#                                                            <li><a href="#"><i class="mdi mdi-vimeo"></i></a></li>#}
    {#                                                            <li><a href="#"><i class="mdi mdi-dribbble"></i></a></li>#}
    {#                                                            <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>#}
    {#                                                        </ul>#}
    {#                                                    </div>#}
    {#                                                </div>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <!-- quick view end -->
    {#    <script>#}
    {#    let languages = document.querySelectorAll((".language"));#}
    {#    console.log(languages)#}
    {#    let url = window.location.href;#}
    {##}
    {#    languages.forEach(item =>{#}
    {#        item.addEventListener("click", (e) =>{#}
    {#            url = url.splice(url.indexOf("8000")) + this.dataset.code + url.splice(url.indexOf("8000") + 4)#}
    {#            history.pushState(#}
    {#                null,#}
    {#                null,#}
    {#                url#}
    {#            )#}
    {#            window.location.reload();#}
    {#        })#}
    {#    })#}
    {#    </script>#}
    <script type="text/javascript" src="../../static/js/addToCart.js"></script>
{% endblock %}